* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: aliceblue;
    width: 400px;
}

.output {
    padding: 10px;
    background-color: rgb(146, 146, 172);
}